{
	"arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "semi": true,

	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 140,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]

}
