@import '@fontsource/fira-mono';

:root {
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;

	--green-title: #D3FFDD;
	--gray-text: #ACACAC;
}

.btn {
	min-width: 9rem;
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	min-height: 2.5rem;
	border: 2px solid var(--color-theme-1);
	border-radius: 9999px;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
	color: white;
	font-family: 'Poppins-Bold';
	font-weight: bold;
	text-align: center;
}
